<div
  class="relative rounded-full px-3 py-1 text-sm leading-6 text-white-600 ring-1 ring-white hover:ring-gray-500">
  I am currently looking for a job. <a
    href="#"
    class="font-semibold text-indigo-600"
    ><span class="absolute inset-0" aria-hidden="true"></span>Get in touch <span
      aria-hidden="true">&rarr;</span
    ></a
  >
</div>
