---
import Navbar from "../components/Navbar";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="relative">
    <Navbar client:visible />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --primary100: 207, 235, 237;
    --primary200: 160, 216, 219;
    --primary300: 112, 196, 200;
    --primary400: 65, 177, 182;
    --primary: 17, 157, 164;
    --primary600: 14, 126, 132;
    --primary700: 11, 95, 100;
    --primary800: 8, 64, 68;
    --primary900: 4, 32, 34;
    --secondary100: 106, 227, 231;
    --secondary200: 158, 199, 208;
    --secondary300: 109, 172, 184;
    --secondary400: 61, 144, 161;
    --secondary: 12, 116, 137;
    --secondary600: 10, 93, 110;
    --secondary700: 7, 70, 82;
    --secondary800: 5, 46, 55;
    --secondary900: 2, 23, 27;
    --accent100: 208, 220, 222;
    --accent200: 161, 185, 189;
    --accent300: 113, 150, 157;
    --accent400: 66, 115, 124;
    --accent: 19, 80, 91;
    --accent600: 15, 64, 73;
    --accent700: 11, 48, 55;
    --accent800: 8, 32, 37;
    --accent900: 4, 16, 19;
    --neutral-light: 215, 217, 206;
    --neutral-white: 247, 247, 240;
    --neutral-dark: 4, 4, 4;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--primary)),
      rgb(var(--accent)),
      white 60%
    );
  }
  .dark {
    color: white;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
    background-image: url("../assets/topography.svg");
    background-color: RGB(var(--neutral-white));
    background-size: contain;
  }
  body {
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
  html.dark {
    background-color: RGB(var(--neutral-dark), 0.8);
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
  window.localStorage.setItem("theme", theme);
</script>
